@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.drink_card {
  margin-left: 100px; /* Удален отступ */
  border-radius: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 373px;
}

.drink_card {
  .img_container {
    width: 161px;
    height: 191px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.text_container {
  height: 300px;
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
  text-align: left;

  .title_card {
    line-height: 25px;
    font-size: 17px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 240px;
  }

  .description_card {
    color: black;
    opacity: 0.7;
    font-size: 17px;
    max-height: 50px;
    overflow: hidden;
  }
}

.actions_card {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    p {
      font-size: 19px;
    }

    svg {
      margin: 7px;
    }
  }

  .add_to_basket {
    cursor: pointer;
    width: 134px;
    height: 41px;
    color: black;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    word-wrap: break-word;
    background: rgba(66.92, 138.12, 101.44, 0.54);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    border: none;
  }

  .more_info {
    text-decoration: none;
    text-transform: none;
    color: black;
    font-size: 19px;
  }
}
