.basket_item {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 170px;
  background-color: transparent;
  border-radius: 14px;
  border: 1px solid #c2c2c2;
}

.image_container {
  margin: 0px;
  img {
    margin: 0px;
  }
}

.upper_container {
  margin: 5px;
  border-bottom: 1.5px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 436px;
  height: 120px;

  img {
    width: 62px;
    height: 72px;
  }
  .item_info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .item_name {
    font-size: 17px;
    font-weight: bold;
  }
  .item_size {
    font-size: 14px;
    color: #666;
  }
}

.down_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 436px;
  height: 45px;

  p {
    margin: 0px;
  }
}

.price_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: bold;
}

.quantity_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  button {
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 1px;
    border: none;
    margin: 0 5px;
  }
  .item_count {
    font-size: 16px;
    width: 30px;
    height: 30px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
